.about-slider-wrap .slider-wrap {
    max-width: 1000px;
    margin: auto;
}

.about-slider-wrap .slide-link {
    width: 300px;
    height: 300px;
    display: block;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 10px;
    background-size: 50%;
    background-position: center top 40px;
    background-repeat: no-repeat;
    margin: auto;
}

.about-slider-wrap .swiper-pagination {
    position: static;
}

.about-slider-wrap .slide-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    padding: 10px 0 20px;
}